header{
    background-color: rgb(77, 43, 20);
    text-align: center;
    margin-bottom: 60px;
    position: fixed;
    z-index: 1;
    width: 100vw;
}

header>h1{
    font-size: 30px;
    padding-top: 20px;
    color: goldenrod;
    text-shadow: 0px 0px 0px rgb(97, 97, 97);
}

nav{
    margin-top: 20px;
    padding-bottom: 20px;
}

header>nav>ul{
    display: flex;
    text-shadow: 0px 0px 0px rgb(97, 97, 97);
    margin-left: -25px;
    font-size: 15px;
}

header>nav>ul>li{
    list-style-type: none;
}

header>nav>ul>li>a{
    text-decoration: none;
    color: aliceblue;
    list-style-type: none;
    margin: 6.5px;
}

div>button{
    margin-top: 190px;
    height: 350px;
}

#logo{
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

#churros1, #churros2, #churros3{
    margin-top: 245px;
}

#churros1{
    width: 750px !important;
    height: 300px !important;
}

#churros2{
    width: 380px !important;
    margin-left: 0px !important;
    height: 300px !important;
}

#churros3{
    width: 1060px !important;
    height: 300px !important;
    margin-left: -340px !important;
}